*{
	margin: 0;
	padding: 0;
}
.bg-img{
	background: url("coder_girl.jpg");
	height: 90vh;
	background-size: cover;
	background-repeat: no-repeat ;
	background-attachment: fixed;
	background-position: center;
	margin: 20px;
}
